html {
    background-color: rgb(235, 184, 227);
    color: #008b95;
    
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 45px 0px 40px;
}

h2 {
    margin: 0px 0px 20px;
}

p {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-left: 2em;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 115, 234);
}

button {
    background-color: transparent;
    border: 2px white solid;
    padding: 10px 20px;
    border-radius: 10px;
    color: #008b95;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}